<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ouc.bird.mapper.ImageMapper">
    <insert id="imageUpload" parameterType="java.sql.Date">
        insert into image (`time`,`count`) values (#{date}, 1)
            ON DUPLICATE KEY UPDATE count = count  + 1;
    </insert>
</mapper>