<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ouc.bird.mapper.VisitMapper">
    <insert id="updateVisitCount" parameterType="java.sql.Date">
        INSERT INTO visit (`time`,`count`) VALUES (#{date} , 1) ON DUPLICATE KEY UPDATE count = count + 1;
    </insert>
</mapper>